<div class= "container" style = "width: 700px;">
    
    <div class= "row">
        <div class = "col-sm-3 border" style = "background-color:white;">
                <%= link_to (image_tag 'one.png', :size => "60x50"), free_manga_path %><br>
                無料マンガ
        </div>
        <div class = "col-sm-3 border" style = "background-color:white;">
                <%= image_tag 'two.png', :size => "60x50" %><br>
                マンガニュース
        </div>
        <div class = "col-sm-3 border" style = "background-color:white;">
                <%= image_tag 'three.png', :size => "60x50" %><br>
                新連載ランキング
        </div>
                <div class = "col-sm-3 border" style = "background-color:white;">
                <%= image_tag 'four.png', :size => "60x50" %><br>
        使えるコマ
        </div>
    </div>
    <div class="container">
    <div class="ftco-animate fadeInUp ftco-animated">
        <form class="domain-form" action="/search">
            <div class="form-group d-md-flex"> 
                <input  type="text" class="form-control px-4" name="q" placeholder="タイトル、作者、セリフで検索"> 
                      <button class="btn my-2 my-sm-0" type="submit">
      <%=render "mangas/magnify"%>
      </button>
            </div>
        </form>
    </div>
</div>
    


<div class= "container2" style = "width: 700px;">
<h3>ピックアップコンテンツ</h3><br>
<%=render "carousel"%>
</div>
<br>
<h3>【期間限定・大量】無料マンガ</h3>
<p>期間限定で無料で多くの巻が読めるマンガを集めました！期間限定なので、読み忘れがないようにお気をつけください！</p>
copy free manga
<h3>新着ニュース</h3>
copy news

<h3>使えるコマ</h3>
